@model Models.Education

<div class="cardTwo">
    <div class="s-6 card-left">
        <img src="@Model.Img" class="responsive card-image" alt="@Model.School" />
    </div>
    <div class="s-6 card-right">
        <div class="information">
            <p><strong>@Model.School</strong></p>
            <p>@Model.Description</p>
            <p>@Model.Age</p>
        </div>
    </div>
</div>